<!DOCTYPE html>
<html lang="en">

{% extends 'layouts/base.html' %}
{% block title %} home {% endblock %}


{% block body %} 

    <div class="container-md "style="height: 100vh">


        {% include 'layouts/navbar.html' %}
        {% block navbar %}{% endblock %}
        
        <div class="d-flex flex-row mt-5" >

            <div style="width: 45%;">
                <div>
                    <form class="d-flex flex-row" >
                        <input class="form-control mr-sm-2 " name="search" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0 ms-2" type="submit">Search</button>
                </div>

                <div>
                    <div class=" mt-2" >
                        <div class="card" style=" border-radius: 15px;">
                          <div class="card-body" >
                              <div class="mb-3">
                                <label for="priceRange" class="form-label">Price Range</label>
                                <div class="input-group">
                                  <input type="number" class="form-control" name="pricefrom"  id="priceFrom" placeholder="From">
                                  <span class="input-group-text">-</span>
                                  <input type="number" class="form-control" name="priceto" id="priceTo" placeholder="To">
                                </div>
                              </div>                    
                          </div>
                        </div>
                      </div>
                      
                    </form>

                </div>
            </div>
            

            <div class="container mb-3" >
                <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true" >
                    <div class="carousel-inner" style=" border-radius: 15px;">
                        <div class="carousel-item active" >
                        <img src="https://alta.ge/images/promo/335/iphone15_web_ge1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="https://alta.ge/images/promo/335/samsung_tv_web_aaod-hq.png"class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="https://alta.ge/images/promo/336/honor_web_rr4v-me.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

        </div>

        {% include 'product.html' %}

        {% include 'layouts/footer.html' %}

    </div>

{% endblock %}


</html>


